@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}
@layer utilities {
  .flexx-1 {
    flex: 1;
  }
  .flex-2 {
    flex: 2;
  }
  .flex-3 {
    flex: 3;
  }

  .letter {
    overflow: hidden;
  }
  .letter span {
    display: block;
  }
  .space {
    width: 0.5rem;
  }
}

html {
  scroll-behavior: auto;
}

body {
  overflow: auto;
  overflow-x: hidden;
  background-color: #0b0b0d;
  color: #f6f7ff;
  /* Lenis handles scrolling */
}
